.header{
    width: 100vw;
    height: 70px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    top: 0;
}
.introductionn{
    height: 400px;
}
.intro-textt{
    position: absolute;
    font-size: 30px; 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 0%;
    color: white;
    height: 50%;
    width: 50%;
    margin-left: 15%;
    margin-top: 5%;
}
.logo-icon 
{
    /* position: absolute; */
    width: 70px;
    height: 65px;
    /* margin-right: 1300px; */
}

.header-sections
{
    margin-left: 30px;
    font-family: monospace;
    color: white;
    font-size: 20px;
    font-weight: 900;
    text-decoration: none;
    display: flex;
    align-items: center;
}
.header-SP
{
    margin-left: 50px;
    font-family: monospace;
    color: white;
    font-size: 20px;
    font-weight: 900;
    text-decoration: none;
}
.header-sources
{
    margin-left: 50px;
    font-family: monospace;
    color: white;
    font-size: 20px;
    font-weight: 900;
    text-decoration: none;
}
.header-OC
{
    margin-left: 50px;
    font-family: monospace;
    color: white;
    font-size: 20px;
    font-weight: 900;
    text-decoration: none;
}
.header-events
{
    margin-left: 50px;
    font-family: monospace;
    color: white;
    font-size: 20px;
    font-weight: 900;
    text-decoration: none;
}
.header-vac
{
    margin-left: 50px;
    font-family: monospace;
    color: white;
    font-size: 20px;
    font-weight: 900;
    text-decoration: none;
}


body
{
    background-image: url(../images/ts-main.webp);  
    background-size: 100%;
    background-position: center;
}

.search-box {
    position: relative;
    display: flex;
    align-items: center;
    position: absolute;
    margin-left: 1210px;
    margin-right: 10px;
}

.search-input {
    border: 2px solid #ddd;
    padding: 10px;
    border-radius: 5px;
    width: 0;
    opacity: 0;
    transition: width 0.4s ease-in-out, opacity 0.4s ease-in-out;
    position: absolute;
    right: 40px;
    z-index: -1;
}

.search-box:hover .search-input,
.search-box:focus-within .search-input {
    width: 200px;
    opacity: 1;
    z-index: 1;
}

.search-button {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
}

body {
    font-family: Arial, sans-serif;
  }
  .section-container {
    display: flex;
    flex-direction: row; /* Explicitly set the flex direction to row */
    padding: 40px;
    border-radius: 15px;
  }
  
  .section-text {
    flex: 1.5;
    font-size: 1.5em;
    color: white; 
  }
  
  .section-image {
    flex: 0.8; 
  }
  
  .section-image img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
  }
  
  .job-vacancies {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
  }
  
  
  .job-listing {
    background-image: linear-gradient(45deg, orange, red, blue);
    border: 1px solid #ddd;
    padding: 20px;
    width: 600px;
    margin: 10px;
    border-radius: 10px;
    display: inline-block; 
    overflow: hidden;
    white-space: normal; 
    word-wrap: break-word; 
  }
  .job-listing {
    transition: transform 0.3s ease; 
  }
  
  .job-listing:hover {
    transform: scale(1.05); 
  }
  .job-title {
    color: #333;
    margin-bottom: 10px;
  }
  
  .job-details,
  .company-details,
  .location {
    margin-bottom: 5px;
    color: #ffffff;
  }
  
  .job-description,
  .requirements {
    margin-bottom: 10px;
  }
  
  .job-actions button {
    background-color: #5cb85c;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-right: 10px;
    cursor: pointer;
  }
  
  .job-actions button:last-child {
    background-color: #337ab7;
  }
  
  .job-actions button:hover {
    opacity: 0.8;
  }
  
dl{
    margin: 100px;
    opacity: 1;
}
dt {
    font-size: 40px; /* Измените размер текста для терминов */
    font-weight: bold; /* Делаем текст жирным (опционально) */
    align-items: center;
    color: rgb(0, 0, 0);
    opacity: 1;
 
}

dd {
    font-size: 30px; /* Измените размер текста для определений */
    align-items: center;
    color: rgb(238, 0, 0);
    opacity: 1;
}
*{
    text-decoration: none;
}
footer{
    width: 100%;
    height: 100%;
    float: left;
    bottom: 0;
    font-size: 50px;
    display: flex;
    background-color: rgb(0, 0, 0);

}
.call_us{
    float:left ;
    color:#fff;
    vertical-align: 300px;
  }
.call_us_main{
    margin-bottom: 10%;
 }
.call_us_num{
    color:#fff;
    text-decoration: none;
    font-size: 25px;
}
.call_us_email{
    color:#fff;
    text-decoration: none;
    font-size: 25px;
}
.call_us_adr{
    color:#fff;
    text-decoration: none;
    font-size: 25px;
}
.call_us{
    height: 100%;
    font-size: 40px;
}
.about_us{
    color:white;
    font-size: 40px;
}
    .about_us_posibiletes{
    font-size: 25px;
    color:white;
     text-decoration: none;
}
.about_us_tour_operator{
    font-size: 25px;
    color:white;
    text-decoration: none;
}
.about_us_tour_partners{
    font-size: 25px;
    color:white;
    text-decoration: none;
    }
.about_us{
    margin-left: 190px;
    }
