.header{
    width: 100vw;
    height: 70px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
}
.logo-icon 
{
    /* position: absolute; */
    width: 70px;
    height: 65px;
    /* margin-right: 1300px; */
}

.header-sections
{
    margin-left: 30px;
    font-family: monospace;
    color: white;
    font-size: 20px;
    font-weight: 900;
    text-decoration: none;
    display: flex;
    align-items: center;
}
.header-SP
{
    margin-left: 50px;
    font-family: monospace;
    color: white;
    font-size: 20px;
    font-weight: 900;
    text-decoration: none;
}
.header-sources
{
    margin-left: 50px;
    font-family: monospace;
    color: white;
    font-size: 20px;
    font-weight: 900;
    text-decoration: none;
}
.header-OC
{
    margin-left: 50px;
    font-family: monospace;
    color: white;
    font-size: 20px;
    font-weight: 900;
    text-decoration: none;
}
.header-events
{
    margin-left: 50px;
    font-family: monospace;
    color: white;
    font-size: 20px;
    font-weight: 900;
    text-decoration: none;
}
.header-vac
{
    margin-left: 50px;
    font-family: monospace;
    color: white;
    font-size: 20px;
    font-weight: 900;
    text-decoration: none;
}


body
{
    background-image: url(../images/body-fon.webp); /* Укажите путь к вашему изображению */
    background-size: cover; /* Это гарантирует, что изображение будет покрывать весь блок */
    background-position: center; /* Центрирование изображения в блоке */
}


.search-box {
    position: relative;
    display: flex;
    align-items: center;
    position: absolute;
    margin-left: 1210px;
    margin-right: 10px;
}

.search-input {
    border: 2px solid #ddd;
    padding: 10px;
    border-radius: 5px;
    width: 0;
    opacity: 0;
    transition: width 0.4s ease-in-out, opacity 0.4s ease-in-out;
    position: absolute;
    right: 40px;
    z-index: -1;
}

.search-box:hover .search-input,
.search-box:focus-within .search-input {
    width: 200px;
    opacity: 1;
    z-index: 1;
}

.search-button {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
}
.containers {
    margin-top: 400px;
    display: flex;
    overflow-x: auto;
    padding: 20px;
    width: 100%; /* Вы можете изменить ширину в соответствии с вашими требованиями */
    box-sizing: border-box;
    align-items: center;
}

.box-schedule {
    flex: 0 0 auto; /* Это гарантирует, что блоки не сжимаются и не растягиваются */
    width: 500px;
    height: 300px;
    margin: 10px;
    background-color: #ffffff;
    transition: transform 0.3s ease;
    border-radius: 10px;

    opacity: 0.7;
}
.box-schedule:hover {
    transform: scale(1.2);
}
.box-forum {
    flex: 0 0 auto; /* Это гарантирует, что блоки не сжимаются и не растягиваются */
    width: 500px;
    height: 300px;
    margin: 10px;
    background-color: #ffffff;
    transition: transform 0.3s ease;
    border-radius: 10px;
    opacity: 0.8;

}
.box-forum:hover {
    transform: scale(1.2);
}
.box-jobs {
    flex: 0 0 auto; /* Это гарантирует, что блоки не сжимаются и не растягиваются */
    width: 500px;
    height: 300px;
    margin: 10px;
    background-color: #ffffff;
    transition: transform 0.3s ease;
    border-radius: 10px;
    opacity: 0.8;
}
.box-jobs:hover {
    transform: scale(1.2);
}
.box-resourses {
    flex: 0 0 auto; /* Это гарантирует, что блоки не сжимаются и не растягиваются */
    width: 500px;
    height: 300px;
    margin: 10px;
    background-color: #ffffff;
    transition: transform 0.3s ease;
    border-radius: 10px;
    opacity: 0.8;
}
.box-resourses:hover {
    transform: scale(1.2);
}
dl{
    margin: 100px;
    opacity: 1;
}
dt {
    font-size: 40px; /* Измените размер текста для терминов */
    font-weight: bold; /* Делаем текст жирным (опционально) */
    align-items: center;
    color: rgb(0, 0, 0);
    opacity: 1;
 
}

dd {
    font-size: 30px; /* Измените размер текста для определений */
    align-items: center;
    color: rgb(238, 0, 0);
    opacity: 1;
}
*{
    text-decoration: none;
}
footer{
    width: 100%;
    height: 100%;
    float: left;
    bottom: 0;
    font-size: 50px;
    display: flex;
    background-color: rgb(0, 0, 0);

}
.call_us{
    float:left ;
    color:#fff;
    vertical-align: 300px;
  }
.call_us_main{
    margin-bottom: 10%;
 }
.call_us_num{
    color:#fff;
    text-decoration: none;
    font-size: 25px;
}
.call_us_email{
    color:#fff;
    text-decoration: none;
    font-size: 25px;
}
.call_us_adr{
    color:#fff;
    text-decoration: none;
    font-size: 25px;
}
.call_us{
    height: 100%;
    font-size: 40px;
}
.about_us{
    color:white;
    font-size: 40px;
}
    .about_us_posibiletes{
    font-size: 25px;
    color:white;
     text-decoration: none;
}
.about_us_tour_operator{
    font-size: 25px;
    color:white;
    text-decoration: none;
}
.about_us_tour_partners{
    font-size: 25px;
    color:white;
    text-decoration: none;
    }
.about_us{
    margin-left: 190px;
    }
